* {
	--primary: #FFEBEE;
	--secondary: #E91E63;
	--tertiary: #80DEEA;
	--black: #D7CCC8;
	--green: #F0F4C3;
	--white: #FFECB3;
	--herbal: #FFCDD2;
	font-family: 'Pacifico';
	color: var(--secondary);
	background-color: var(--primary)
}

h1 {
	font-size: 3em;
}

#tea-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.start {
	font-family: 'Josefin Slab';
	color: var(--secondary);
	height: 30vmin;
	width: 30vmin;
	border-radius: 15vmin;
	margin: 3vmin;
	font-size: 6vmin;
	outline: none;
	border: none;
	user-select: none;
	line-height: 1;
}

.start:disabled {
	background-color: var(--primary) !important;
	color: var(--primary);
}

.info {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 5vmin;
	margin: 6vmin;
	user-select: none;
}

.info p {
	margin: 0;
	text-align: center;
}

.focus-value {
	font-size: 16vmin;
}
